.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
  
    @media (max-width: 768px) {
    }
  
    @media (min-width: 769px) {
    
    }
  }
  
  .main-image {
    width: 50%;
    img {
      max-width: 100%;
      display: block;
    }
  }
  
  .thumbnail-grid {
    width: 50%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
  
    img {
      max-width: 100%;
    }
  
    .view-more {
      align-self: flex-end;
      justify-self: flex-end;
    }
  }