.page-payments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 80vh;  Toma toda la altura de la página */
    padding: 20px;
    padding-top: 0px;
    position: relative;
  }
  .title-payments {  
    
    padding: 20px; 
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 8px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    padding: 20px;
    padding-top: 0px;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
  }
.form-payments {

    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    position: relative;
    border-radius: 25px;
  }
  .form-payments .label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .form-payments .label:has(input:focus) .title {
    top: 0;
    left: 0;
    color: #e1bc6a;
  }
  .form-payments .label .title {
    padding: 0 10px;
    transition: all 300ms;
    font-size: 12px;
    color: #8b8e98;
    font-weight: 600;
    width: -moz-fit-content;
    width: fit-content;
    top: 14px;
    position: relative;
    left: 15px;
    background: white;
  }
  .form-payments .input-field {
    width: auto;
    height: 50px;
    text-indent: 15px;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1bc6a;
    transition: all 0.3s;
    caret-color: #e1bc6a;
    color: #e1bc6a;
  }
  
  .form-payments .input-field:hover {
    border-color: rgba(209, 121, 66, 0.5);
  }
  
  .form-payments .input-field:focus {
    border-color: #e1bc6a;
  }
  .form-payments .split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
  }
  .form-payments .split label {
    width: 130px;
  }
 
  